# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Databases
# chroma_db_storage/ (Commented out so it gets pushed to GitHub for Streamlit Cloud)

# IDEs
.vscode/
.idea/
